.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icons__home {
  width: 25px;
  margin-right: 15px;
}

.icons__messenger {
  width: 25px;
  margin-right: 15px;
}

.icons__compass {
  width: 23px;
  margin-right: 15px;
}

.icons__heart {
  width: 28px;
}
