.imageUpload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 10px auto 10px auto;
  /* position: fixed; */
  /* background-color: white; */
  border-top: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.imageUpload__progress {
  width: 100%;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
}
